<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小麦麦穗识别云系统</title>
    <link rel="stylesheet" type="text/css" href="/static/style/upload.css">
</head>

<body>
<div id="head">
    <img id="img" src="/static/style/njau.png"/>
    <h1 id="title">小麦麦穗识别云系统</h1>
    <form action="http://127.0.0.1:5000/spike" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" id="file"/>
        区域面积 <input type="text" name="area"> (单位：平方米)
        <input type="submit" value="识别" class="submit"/>
    </form>
</div>
<hr>

<div id="result">
    <h1>{{ number }}</h1>
    <img src="/static/{{ folder }}/{{ filename }}" width="400" height="400"/>
</div>
</body>
</html>