<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小麦麦穗识别云系统</title>
    <link rel="stylesheet" type="text/css" href="/static/style/upload.css">
</head>

<body>
<h1 id="title">小麦麦穗识别云系统</h1>
<form action="http://114.116.44.94:8090/spike" enctype='multipart/form-data' method='POST'>
    <input type="file" name="file" id="file"/>
    <input type="submit" value="麦穗识别" class="submit"/>
</form>
<hr>

<h1 id="title">小麦麦苗识别云系统</h1>
<form action="http://114.116.44.94:8090/seedling" enctype='multipart/form-data' method='POST'>
    <input type="file" name="file" id="file"/>
    <input type="submit" value="麦苗识别" class="submit"/>
</form>
<hr>

<h1 id="title">水稻稻穗识别云系统</h1>
<form action="http://114.116.44.94:8090/rice" enctype='multipart/form-data' method='POST'>
    <input type="file" name="file" id="file"/>
    <input type="submit" value="稻穗识别" class="submit"/>
</form>
<hr>


<h1 id="title">小麦生育期识别云系统</h1>
<form action="http://114.116.44.94:8090/phe" enctype='multipart/form-data' method='POST'>
    <input type="file" name="file" id="file"/>
    <input type="submit" value="上传文件夹" class="submit"/>
</form>
<hr>

<h1>识别结果</h1>
<h1>{{number}}</h1>
<img src="/static/{{folder}}/{{filename}}" width="400" height="400"/>
</body>
</html>